body {
  margin: 0;
}

.header {
  text-align: center;
}

.containers {
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px;
}

.container {
  background-color: rgb(220, 220, 220);
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
}